<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- Fragmento: Pie de página -->
<footer class="bg-success text-white text-center mt-5 py-3" th:fragment="footer">
    <div class="container">
        <p class="mb-1 fw-bold">🌱 Sistema de Mercado Agrícola Virtual</p>
        <p class="mb-0 small">
            Desarrollado por Grupo 05 – Ingeniería de Software | Universidad de El Salvador © 2025
        </p>
    </div>
</footer>

</body>
</html>
